{
    "presets": [
        [
            "babel-preset-env",
            {
                "targets": {
                    "node": "8.11.3"
                }
            }
        ]
    ],
    "plugins": [
        "transform-flow-comments",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}
